.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-black);
}

.mainContent {
  flex: 1;
  margin-left: 260px; /* Ancho del Sidebar */
  margin-top: 70px; /* Altura del Header */
  padding: 3rem;
  min-height: calc(100vh - 70px);
  position: relative;
  overflow-y: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
    padding: 2rem 1.5rem;
  }
}
