# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Builds y Distribución
dist/
build/
out/
.next/
.astro/

# Variables de Entorno (¡CRÍTICO!)
.env
.env.*
!.env.example

# IDEs y SO
.vscode/
.idea/
.DS_Store
Thumbs.db