---
import Layout from '../layouts/Layout.astro';
import Header from '../components/index/Header.astro';
import Hero from '../components/index/Hero.astro';
import Benefits from '../components/index/Benefits.astro';
import FAQ from '../components/index/FAQ.astro';
import Footer from '../components/index/Footer.astro';
---

<Layout title="Pro-Finance">
	<main>
    <Header />
    <Hero />
    <Benefits />
    <FAQ />
    <Footer />
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
    position: relative;
	}
</style>
